// Setup global variables
@yellow: #D9CC1A;
@red : #FC4349;
@mainColor : #202A40;
@transitionSpeed : 0.3s;

body {
	background: @mainColor;
	&.dialog-open {
		.underlay,
		.dialog {
			display: block;
		}
	}
}

h1 {
	color: #fff;
}

.underlay,
.dialog {
	display: none;
}

.container {
	text-align: center;
}

#main {
	background-color: @mainColor;
	width: 350px;
	height: 300px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -175px;
	-ms-transform: scale(2, 2); /* IE 9 */
	-webkit-transform: scale(2, 2); /* Safari */
	transform: scale(2, 2);
}

.piece-indicator {
	margin: 15px;
}
.item {
	border-radius: 55px;
	background-color: #fff;
	width: 40px;
	height: 40px;
	float: left;
	border: 5px solid @mainColor;
	-webkit-box-shadow:inset 2px 2px 5px 1px rgba(0,0,0,0.2);
	box-shadow:inset 2px 2px 5px 1px rgba(0,0,0,0.2);
	&.yellow {
		background-color: @yellow;;
	}
	&.red {
		background-color: @red;
	}
	&:hover {
		cursor: pointer;
	}
}

a {
	color: #fff;
	text-decoration: none;
}

.button {
	padding: 15px;
	display: inline-block;
	color: #fff;
	border: 1px solid #ffffff;
	-webkit-transition: @transitionSpeed ease-in-out;
	-moz-transition: @transitionSpeed ease-in-out;
	-o-transition: @transitionSpeed ease-in-out;
	transition: @transitionSpeed ease-in-out;
	&:hover {
		color: @mainColor;
		background: #fff;
		border-color: @mainColor;
	}
}
.score-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline-block;
	.score {
		display: inline-block;
		padding: 0 15px;
		margin: 15px 0;
		&[data-score="yellow"] {
			color: @yellow;
			border-right: 1px solid #fff;
		}
		&[data-score="red"] {
			color: @red;
			margin-left: -4px;
		}
	}
}


.underlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}

.dialog {
	position: absolute;
	z-index: 1;
	background: #fff;
	top: 50%;
	left: 50%;
	color: @mainColor;
	padding: 15px;
	a {
		color: @mainColor;
	}
	.dialog-content {
		text-transform: capitalize;
		text-align: center;
	}
	.button {
		background: @mainColor;
		color: #fff;
		margin-top: 10px;
		text-align: center;
		display: block;
		&:hover {
			color: @mainColor;
			background: #fff;
			border-color: @mainColor;
		}
	}
}

.settings-container {
	display: inline-block;
	padding: 0;
	margin: 0 0 0 15px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	li {
		list-style-type: none;
		margin-bottom: 15px;
		&:last-of-type {
			margin: 0;
		}
	}
}

@media (max-width: 970px) {
	#main {
		-ms-transform: scale(1.5, 1.5); /* IE 9 */
		-webkit-transform: scale(1.5, 1.5); /* Safari */
		transform: scale(1.5, 1.5);
	}
}

@media (max-width: 750px) {
	#main {
		-ms-transform: scale(1, 1); /* IE 9 */
		-webkit-transform: scale(1, 1); /* Safari */
		transform: scale(1, 1);
	}
}