body {
  background: #202a40;
}
body.dialog-open .underlay,
body.dialog-open .dialog {
  display: block;
}
.underlay,
.dialog {
  display: none;
}
.container {
  text-align: center;
}
#main {
  background-color: #202a40;
  width: 350px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -175px;
  -ms-transform: scale(2, 2);
  /* IE 9 */
  -webkit-transform: scale(2, 2);
  /* Safari */
  transform: scale(2, 2);
}
.item {
  border-radius: 55px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  float: left;
  border: 5px solid #202a40;
}
.item.yellow {
  background-color: #d9cc1a;
}
.item.red {
  background-color: #fc4349;
}
.item:hover {
  cursor: pointer;
}
a {
  color: #fff;
  text-decoration: none;
}
.button {
  padding: 15px;
  display: inline-block;
  color: #fff;
  border: 1px solid #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.button:hover {
  color: #202a40;
  background: #fff;
  border-color: #202a40;
}
.score-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
}
.score-container .score {
  display: inline-block;
  padding: 0 15px;
  margin: 15px 0;
}
.score-container .score[data-score="yellow"] {
  color: #d9cc1a;
  border-right: 1px solid #fff;
}
.score-container .score[data-score="red"] {
  color: #fc4349;
  margin-left: -4px;
}
.underlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.dialog {
  position: absolute;
  z-index: 1;
  background: #fff;
  top: 50%;
  left: 50%;
  color: #202a40;
  padding: 15px;
}
.dialog a {
  color: #202a40;
}
.dialog .dialog-content {
  text-transform: capitalize;
  text-align: center;
}
.dialog .button {
  background: #202a40;
  color: #fff;
  margin-top: 10px;
  text-align: center;
  display: block;
}
.dialog .button:hover {
  color: #202a40;
  background: #fff;
  border-color: #202a40;
}
.settings-container {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 15px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.settings-container li {
  list-style-type: none;
  margin-bottom: 15px;
}
.settings-container li:last-of-type {
  margin: 0;
}
@media (max-width: 970px) {
  #main {
    -ms-transform: scale(1.5, 1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5, 1.5);
    /* Safari */
    transform: scale(1.5, 1.5);
  }
}
@media (max-width: 750px) {
  #main {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
  }
}
